<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <style type="text/css">
            body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: whitesmoke;
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: justified;
  background-color: blue;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
a {
    text-decoration: none;
}
.github {
    color: gainsboro;
}
        </style>
    </head>
    <body>
        <div class="container">
            <h1> <b>About Us</b></h1>
            <p>
                The project aims to develop an AI system that assists individuals in identifying potential mental health issues based on their reported symptoms and provides personalized suggestions for improving mental well-being.
 </p><p>
The AI will be trained on a dataset containing information about various mental health disorders and their symptoms. When a user interacts with the system and describes their feelings and symptoms, the AI will analyze this input using natural language processing techniques to understand the underlying issues. 
</p><p>
It will then provide the user with information about possible mental health conditions that align with their symptoms and offer tailored recommendations such as self-care techniques, lifestyle changes, or professional help options. 
</p><p>
The goal is to empower individuals to take proactive steps towards better mental health by increasing awareness and providing accessible support.
            </p>
        </div>

        <h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/public/image/Shibam.jpg" alt="Shibam" style="width: 100%; height: auto;">
      <div class="container">
        <h2>Shibam Nath</h2>
        <p class="title">Leader</p>
        <p></p>
        <a href="https://www.linkedin.com/in/shibamnath">Linkedin</a>
        <a href="https://github.com/DarkAngelu" class="github">Github</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/public/image/Syamantak.jpg" alt="Syamantak" style="width: 100%; height: auto;">
        <div class="container">
          <h2>Syamantak Nandi</h2>
          <p class="title">Member</p>
          <p></p>
          <a href="https://www.linkedin.com/in/syamantak-nandi-51bb8b259">Linkedin</a>
          <a href="https://github.com/SyamantakNandi" class="github">Github</a>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/public/image/Anoushka.jpg" alt="Anoushka" style="width: 100%; height: auto;">
            <div class="container">
              <h2>Anoushka Aditi Acharya</h2>
              <p class="title">Member</p>
              <p></p>
              <a href="https://www.linkedin.com/in/anoushka-aditi-acharya-518408278/">Linkedin</a>
              <a href="https://github.com/anoushkaacharya" class="github">Github</a>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/public/image/Adyasa.jpg" alt="Adyasa" style="width: 100%; height: auto;">
              <div class="container">
                <h2>Adyasa Priyadarshini Acharya</h2>
                <p class="title">Member</p>
                <p></p>
                <a href="https://www.linkedin.com/in/adyasa-p-acharya-33964a260/">Linkedin</a>
                <a href="https://github.com/adyasaaacharya" class="github">Github</a>
              </div>
            </div>
          </div>

          
        
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="/public/image/Sayandeep.jpg" alt="Sayandeep" style="width: 100%; height: auto;">
            <div class="container">
              <h2>Sayandeep Banerjee</h2>
              <p class="title">Member</p>
              <p></p>
              <a href="https://www.linkedin.com/in/sayandeep-banerjee-b9854a256/">Linkedin</a>
              <a href="https://github.com/banerjeesayan8" class="github">Github</a>
            </div>
          </div>
        </div>
  
  

    </body>
</html>